body > div[alx-dragstart-css="mediaDrag"] {
    display: none;
}

/* Left Menu */

#mainMenu .listServers {
    overflow: hidden;
}

#mainMenu .hamburger .labelHamburger {
    background-image: url("../images/favicon.png");
    width: 114px;
}

#mainMenu .itemServer .closeZoneServer {
    /*taille logo srv + padding left 5px*/
    width: calc(100% - 33px);
}

#mainMenu .itemServer .closeZoneServer .fa-times{
    display: none;
}

    /* Right menu */
#secondaryMenu {
    display: none;
}

/* Content */

#content {
    margin: 0;
}

/* Vue média */

#content m1m-media {
   max-width: 200px;
   max-height: 275px;
}

#content m1m-media > div .infosMedia {
    border-top: none;
    height: 100%;
    cursor: pointer;
    background-color: rgba(50,50,50,0.7);
}

#content m1m-media > div .infosMedia .description {
    display: block;
}

#content m1m-media-manager .mediaContent {
    background-color: transparent;
    width: 100%;
    margin: 30px auto;
}

#content m1m-media-manager .mediaContent .split .mediaRight {
    padding: 0;
}

#content m1m-media-manager .mediaContent .split:last-of-type {
    border-top: 0;
    margin-top: 0px;
}

#content m1m-media-manager .mediaContent .split .aroundImage,#content m1m-media-manager .mediaContent .split  .mediaRight {
    width: 100%;
    display: block;
    margin: 20px 0;
}

#content m1m-media-manager .mediaContent .split select {
    max-width: 400px;
    margin: 20px auto 40px auto;
    display: block;
}

/*#content m1m-media-manager .mediaContent button {
    padding: 20px 30px;
}*/