/*MOBILE*/
@media screen and (max-width: 1080px) {

    #content m1m-media-manager .mediaContent .left {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    #content m1m-media-manager .mediaContent img {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        float: left;
    }

}
