body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 14px;
}

/*Scroll*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(90,90,90,0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(10,0,0,0.5);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Classes génériques */

.fullPage {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial !important;
    color : white;

    position: absolute;
    left:0;
    top: 0;
}

.fullPageBackground {
    background: url("../images/theend.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(30px) brightness(0.9);
    -moz-filter: blur(30px) brightness(0.9);
    -o-filter: blur(30px) brightness(0.9);
    -ms-filter: blur(30px);
    filter: blur(30px) brightness(0.9);

    position: fixed;
    transform: scale(1.1);
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.shrink {
    background-color: rgba(30,30,30,0.65);
    height: 100%;
    color:white;
}

/**********************************/
/********* MENU PRINCIPAL *********/
/**********************************/

#mainMenu {
    max-width: 20%;
}

#mainMenu .paddingIconMenu {
    padding-top: 5px;
    padding-bottom: 5px;
}

#mainMenu .footerMenu .paddingIconMenu div, #mainMenu .hamburger .paddingIconMenu div, #mainMenu .itemServer > div, #mainMenu .itemServer .labelServer{
    display: inline-block;
}

#mainMenu .hamburger {
    height: 8%;
    border-bottom: white 1px solid;
    cursor: pointer;
}

#mainMenu .hamburger > div {
    align-items: center;
    display: flex;
    height: 100%;
}

#mainMenu .hamburger .fa-bars, .hamburger .labelHamburger {
    vertical-align: middle;
    display: inline-block;
}

#mainMenu .hamburger .fa-bars {
    padding-left: 1px;
}

#mainMenu .hamburger .labelHamburger {
    padding-left: 5px;
}

#mainMenu .listServers {
    height: 70%;
    border-bottom: white 1px solid;
}

#mainMenu .listServers .paddingIconMenu.solo {
    height: 100%;
    display: flex;
    flex-flow: column;
    /*padding-right: 15px;*/
}

#mainMenu .m1m-server {
    display: block;
    padding-bottom: 10px;
}

#mainMenu .itemServer {
    cursor: pointer;
    flex: 0 1 auto;
}

#mainMenu .itemServer .closeZoneServer .fa-times, #mainMenu .itemServer .closeZoneServer, #mainMenu .itemServer .fa-server, #mainMenu .itemServer .closeZoneServer .labelServer {
    vertical-align: middle;
}

#mainMenu .itemServer .closeZoneServer .fa-times {
   font-size: 20px;
}

#mainMenu .itemServer .labelServer {
    max-width: 300px;
    overflow: hidden;
}

#mainMenu .listDirectories {
    padding: 0 10px;
    overflow-y: auto;
    flex: 1 1 auto;
}

#mainMenu .listDirectories m1m-directory {
    display: block;
    padding: 5px 0;
    cursor: pointer;
}

#mainMenu .listDirectories m1m-directory .activeDirectory {
    color : pink;
}

#mainMenu .listDirectories m1m-directory .parentItem{
    overflow-x : hidden;
}

#mainMenu .listDirectories m1m-directory .subItem {
    padding-left: 10px;
    overflow-x : hidden;
}

#mainMenu .footerMenu {
    height: 20%;
}

#mainMenu .footerMenu .paddingIconMenu {
    cursor : pointer;
}

#mainMenu .footerMenu .paddingIconMenu * {
    vertical-align: middle;
}

#mainMenu .footerMenu , #mainMenu .listServers, #mainMenu .hamburger {
    padding: 10px 0;
}

/************************/
/******** MAIN **********/
/************************/

#main {
    width: 100%;
    height: 100%;
    padding: 0;
    color : white;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

#main .switch, #main .switchContent {
    height: 100%;
}

#header, #content, #footer {
    padding: 10px;
    margin: 0 20px;

}

#header {
    height: 15%;
    /*border-bottom: whitesmoke 1px dashed;*/
    flex: 0 1 auto;
}

#content {
    overflow: auto;
    flex: 1 1 auto;
    /*border-bottom: whitesmoke 1px dashed;*/
}

#content.h70 {
    height: 70%;
}

#content.h100 {
    height: 100%;
}

#content::-webkit-scrollbar {
    width: 7px;
}

#footer {
    height: 15%;
    flex: 0 1 auto;
}

/**********************************/
/********* MENU LECTEURS **********/
/**********************************/

#secondaryMenu {
    display: none;
    flex-flow: column;
    height: 100%;
}

#secondaryMenu h3 {
    display: block;
    text-align: center;
}

#secondaryMenu m1m-lecteur {
    display: block;
}

.lecteurItemMenu {
    padding: 10px;
    height: 120px;
    background-color: rgba(88,88,88,0.8);
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-top: 20px;
}

#secondaryMenu m1m-lecteur .lecteurItemMenu img {
    height: 100%;
    width: 40%;
    max-width: 110px;
    flex: 0 1 auto;
}

#secondaryMenu m1m-lecteur .lecteurItemMenu .labelLecteur {
    font-Weight: bold;
    text-align: center;
    flex: 1 1 auto;
}

#secondaryMenu m1m-lecteur .lecteurItemMenu button {
    display: none;
}

#secondaryMenu .listLecteurs {
    flex: 1 1 auto;
    overflow: auto;
}

#secondaryMenu .slideArrow {
    color: white;
    text-align: center;
    font-size: 26px;
    display: block;
    width: 100%;
    height: 50px;
    flex: 0 1 auto;
}

/*
#secondaryMenu > .canDrop {
    display: block;
    border: solid red;
}*/
