body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 14px;
    overflow: hidden;
}

select {
    color: #4D4D4D !important;
}

/*Scroll*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(90,90,90,0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(10,0,0,0.5);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Classes génériques */

label {
    color : #FFF !important;;
    font-family: Helvetica;
    font-size: 14px !important;
}

.fullPage {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial !important;
    color : white;

    position: absolute;
    left:0;
    top: 0;
}

.fullPageBackground {
    background: url("../images/firstlight.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(30px) brightness(0.9);
    -moz-filter: blur(30px) brightness(0.9);
    -o-filter: blur(30px) brightness(0.9);
    -ms-filter: blur(30px);
    filter: blur(30px) brightness(0.9);

    position: fixed;
    transform: scale(1.1);
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.shrink {
    background-color: rgba(30,30,30,0.65);
    height: 100%;
    color:white;
}

/**********************************/
/********* MENU PRINCIPAL *********/
/**********************************/

#mainMenu {
    max-width: 20%;
}

#mainMenu .paddingIconMenu {
    padding-top: 5px;
    padding-bottom: 5px;
}

#mainMenu .footerMenu .paddingIconMenu div, #mainMenu .hamburger .paddingIconMenu div, #mainMenu .itemServer > div, #mainMenu .itemServer .labelServer{
    display: inline-block;
}

#mainMenu .hamburger {
    height: 8%;
    border-bottom: white 1px solid;
    cursor: pointer;
}

#mainMenu .hamburger > div {
    align-items: center;
    display: flex;
    height: 100%;
}

#mainMenu .hamburger .fa-bars, .hamburger .labelHamburger {
    vertical-align: middle;
    display: inline-block;
}

#mainMenu .hamburger .fa-bars {
    padding-left: 1px;
}

#mainMenu .hamburger .labelHamburger {
    margin-left: 15px;
    height: 25px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 114px;
}

#mainMenu .listServers {
    height: calc(90% - 50px);
    border-bottom: white 1px solid;
}

#mainMenu .listServers .paddingIconMenu.solo {
    height: 100%;
    display: flex;
    flex-flow: column;
    /*padding-right: 15px;*/
}

#mainMenu .m1m-server {
    display: block;
    padding-bottom: 10px;
}

#mainMenu .itemServer {
    cursor: pointer;
    flex: 0 1 auto;
}

#mainMenu .itemServer .closeZoneServer .fa-times, #mainMenu .itemServer .closeZoneServer, #mainMenu .itemServer .fa-server, #mainMenu .itemServer .closeZoneServer .labelServer {
    vertical-align: middle;
}

#mainMenu .itemServer .closeZoneServer {
    padding-left: 5px;
}

#mainMenu .itemServer .closeZoneServer .fa-times {
   font-size: 20px;
}

#mainMenu .itemServer .labelServer {
    max-width: 300px;
    overflow: hidden;
}

#mainMenu .listDirectories {
    padding: 0 10px;
    overflow-y: auto;
    flex: 1 1 auto;
}

#mainMenu .listDirectories m1m-directory {
    display: block;
    padding: 5px 0;
    cursor: pointer;
}

#mainMenu .listDirectories m1m-directory .activeDirectory {
    color : #4FC3F7;
}

#mainMenu .listDirectories m1m-directory .parentItem{
    overflow-x : hidden;
}

#mainMenu .listDirectories m1m-directory .subItem {
    padding-left: 10px;
    overflow-x : hidden;
}

#mainMenu .footerMenu {
    height: 50px;
    cursor : pointer;
}

#mainMenu .footerMenu i {
    font-size: 30px;
}

#mainMenu .footerMenu div {
    padding-left: 5px;
}

#mainMenu .footerMenu * {
    display: inline-block;
    vertical-align: middle;
}

#mainMenu .footerMenu , #mainMenu .listServers, #mainMenu .hamburger {
    padding: 10px 0;
}

/**********************************/
/********* MENU LECTEURS **********/
/**********************************/

#secondaryMenu {
    display: flex;
    flex-flow: column;
    height: 100%;
    transition: 0.5s ease;
    opacity: 0;
    width: 0;
    padding: 5px !important;
    overflow: hidden;
}

#secondaryMenu.dropActive{
    opacity: 1;
    width: auto;
    padding: 15px 0px;
}

#secondaryMenu h3 {
    display: block;
    text-align: center;
}

#secondaryMenu m1m-lecteur {
    display: block;
}

#secondaryMenu m1m-lecteur .lecteurItem {
    padding: 10px;
    height: 100px;
    background-color: rgba(88,88,88,0.8);
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-top: 20px;
}

#secondaryMenu m1m-lecteur .lecteurItem img {
    height: 100%;
    width: 40%;
    max-width: 110px;
    flex: 0 1 auto;
}

#secondaryMenu m1m-lecteur .lecteurItem .labelLecteur {
    font-Weight: bold;
    text-align: center;
    flex: 1 1 auto;
}

#secondaryMenu m1m-lecteur .lecteurItem button {
    display: none;
}

#secondaryMenu .listLecteurs {
    flex: 1 1 auto;
    overflow: hidden;
}

#secondaryMenu .slideArrow {
    color: white;
    text-align: center;
    font-size: 26px;
    display: block;
    width: 100%;
    height: 50px;
    flex: 0 1 auto;
}

#secondaryMenu m1m-lecteur .lecteurItem.dropHover {
    background-color: pink;
}

/** MAIN **/

/************************/
/****** NAVIGATION ******/
/************************/

#main {
    width: 100%;
    height: 100%;
    padding: 0;
    color : white;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

#main .switch, #main .switchContent {
    height: 100%;
}

#header, #content, #footer {
    padding: 10px;
    margin: 0 20px;
}

#header {
    height: 15%;
    /*border-bottom: whitesmoke 1px dashed;*/
    flex: 0 1 auto;
}

#content {
    overflow: auto;
    flex: 1 1 auto;
    /*border-bottom: whitesmoke 1px dashed;*/
}

#content.h70 {
    height: 70%;
}

#content.h85 {
    height: 85%;
}

#content.h100 {
    height: 100%;
}

#content::-webkit-scrollbar {
    width: 7px;
}

#content .grid {
     display : inline-flex;
     margin: 1%;
     flex-wrap: wrap;
 }

#footer {
    height: 15%;
    flex: 0 1 auto;
}

.noImage {
    background-color: white;
}

/************************/
/********* HOME *********/
/************************/

#content .descriptifProjet {
    text-align: justify;
}

/************************/
/***** VUE LECTEURS *****/
/************************/


#content m1m-lecteur-manager {
    width: 200px;
    max-width: 400px;
    background-color: rgba(30,30,30,0.4);
}


#content m1m-lecteur-manager .lecteurItem {
    /* utilisation de foundation (col + ligne) */
    width: 100%;
    text-align: center;
    padding: 10px 5px;

}

#content m1m-lecteur-manager .lecteurItem > div{
    width: 100%;
}

#content m1m-lecteur-manager .lecteurItem .labelLecteur{
}

#content m1m-lecteur-manager .lecteurItem .controlVolume {
    padding-top : 10px;
    padding-bottom: 10px;
}

#content m1m-lecteur-manager .lecteurItem .labelVolume {
    color : white;
    display: inline-block;
}

/************************/
/**** VUE NAVIGATION ****/
/************************/
#content .notFound {
    width: 572px;
    margin: 0 auto;
    display: block;
}




/* Apparence média */
#content m1m-media {
    /*min-width: 175px;*/
    max-width: 250px;
    max-height: 325px;
}

#content .mediaStart {
    width: 50px;
    max-height: 75px;
}

/*when media dragged*/
body > div[alx-dragstart-css="mediaDrag"] {
    width: 150px;
    cursor: move;
}

body > div[alx-dragstart-css="mediaDrag"] .infosMedia {
    display: none;
}

#content m1m-media > div {
    position: relative;
}

#content m1m-media > div > img {
    height: 100%;
    cursor: pointer;
}

#content m1m-media > div .infosMedia {
    height: 30%;
    padding: 5px;
    background-color: rgba(50,50,50,0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    border-top : 2px solid rgb(40,40,40);
    width: 100%;
    overflow: hidden;
}

#content m1m-media > div .infosMedia .annee, #content m1m-media > div .infosMedia .titre, #content m1m-media > div .infosMedia .description label {
    display: block;
    padding-bottom: 3px;
}

#content m1m-media > div .infosMedia .titre {
    font-weight: bold;
}

#content m1m-media > div .infosMedia .description .lbl {
    font-size: 18px!important;
    font-weight: bold;
}

#content m1m-media > div .infosMedia .annee {
    font-size: 16px;
}

#content m1m-media > div .infosMedia .description {
    display: none;
    cursor: pointer; /*doesn't work*/
}

#content m1m-media > div .infosMedia .description p {
    overflow: hidden;
    padding: 0 2px;
    text-align: justify;
}


#content m1m-media > div:hover .infosMedia {
    border-top: none;
    height: 100%;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    transition: height 1s;
    cursor: pointer;
}

#content m1m-media > div:hover .infosMedia .description {
    display: block;
}





/* Media manager */
#content m1m-media-manager .mediaContent {
    width: 70%;
    min-width: 500px;
    display: block;
    margin: 40px auto;
}

#content m1m-media-manager .mediaContent .mediaRight, #content m1m-media-manager .mediaContent .aroundImage {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 20px;
}

#content m1m-media-manager .mediaContent .aroundImage img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#content m1m-media-manager .mediaContent .mediaLine{
    margin: 10px 0;
}

#content m1m-media-manager .mediaContent .mediaLine span{
    width : 150px;
    display: inline-block;
    vertical-align: top;
}

#content m1m-media-manager .mediaContent .mediaLine .desc {
    display: inline-block;
    width: calc(100% - 150px);
    vertical-align: top;
    text-align: justify;
}

#content m1m-media-manager .mediaContent .mediaLine .genre {
    width: auto;
    padding-right: 4px;
}

#content m1m-media-manager .mediaContent .mediaLine .genre:after {
    content : " -";
}

#content m1m-media-manager .mediaContent .mediaLine .genre:last-of-type:after {
    content: none;
    padding-right: 0;
}

#content m1m-media-manager .mediaContent select {
    margin: 20px 0 40px 0;
    cursor: pointer;
}


/*Design button*/
.mediaContent button {
    background-color:#3bb3e0;
    display: block;
    margin: 0 auto;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 20px;
    padding-right:50px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(44,160,202)),
            color-stop(1, rgb(62,184,229))
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785;
}

.mediaContent button:active {
    top:3px;
    background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(62,184,229)),
            color-stop(1, rgb(44,160,202))
    );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
}

.mediaContent button::before {

    content: "\f04b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #FFF;
    font-size: 14px;
    padding-top: 3px;
    padding-left: 2px;
    background-color:#2591b4;
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.mediaContent button:active::before {
    top:50%;
    margin-top:-12px;
    -webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
    -moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
    -o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
    box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}