<div class="paddingIconMenu">
    <div class="itemServer" (click)="showInfo()">
        <i class="fa fa-server fa-2x" aria-hidden="true"></i>
        <div *ngIf="menuDisplayed">
            <div class="labelServer">{{nf.name}}</div>
            <i *ngIf="crossDisplayed" class="fa fa-times fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="listDirectories" *ngIf="displayed">
        <div *ngIf="displayed">
            <m1m-directory [nf]="folder" *ngFor="let folder of directories"></m1m-directory>
        </div>
    </div>