<div class="fullPageBackground"></div>
<div class="row fullPage">
    <!--MENU-->
    <div class="shrink columns" id="mainMenu">
        <div class="hamburger">
            <div (click)="menuClick()">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                <div class="labelHamburger" *ngIf="menuDisplayed"></div>
            </div>
        </div>
        <div class="listServers">
            <!-- Affichage de tous les serveurs si aucun sélectionné -->
            <m1m-server [hidden]="currentServer != null"
                        *ngFor="let server of mediaServers"
                        [nf]="server"
                        [menuDisplayed]="menuDisplayed"
                        (eventSelectedServer)="selectedServer($event)"
                        [serverSelected]="false">
            </m1m-server>
            <!-- Affichage du serveur sélectionné -->

            <!--<div (click)="backClick()" *ngIf="currentServer != null" class="retourSrv fa fa-chevron-left fa-2x" aria-hidden="true"><span *ngIf="menuDisplayed">Retour</span></div>-->

            <m1m-server *ngIf="currentServer != null"
                        [nf]="currentServer"
                        [menuDisplayed]="menuDisplayed"
                        (eventSelectedServer)="selectedServer($event)"
                        [serverSelected]="true">
            </m1m-server>
        </div>
        <div class="footerMenu" (click)="this.appService.setModeApp(this.appService.MODE_LECTEURS);">
            <!--<div class="paddingIconMenu" (click)="this.appService.setModeApp(this.appService.MODE_SETTINGS);">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                <div *ngIf="menuDisplayed">Paramètres</div>
            </div>-->
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
            <div *ngIf="menuDisplayed">Lecteurs</div>
        </div>
    </div>
    <!--MAIN-->
    <div class="columns" id="main">
        <!-- Partie navigateur (centrale) -->
        <div class="switch" [ngSwitch]="this.appService.modeApp">

            <!-- Partie Home -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_HOME">
                <div id="content">
                    <h1>Bienvenue sur Notflix !</h1>
                    <h2>La contrefaçon lowcost de Netflix.</h2>
                    <div class="descriptifProjet">
                        <p>Notflix est une application web qui simplifie le contrôle de médias sur des périphériques.</p>
                        <p>Glissez un film depuis votre ordinateur (qui est dans votre chambre) sur la télé qui est dans votre salon.</p>
                        <p>Grâce à NotFlix vous pouvez :</p>
                        <ul>
                            <li>accèder aux fichiers de vos périphérques</li>
                            <li>lancer un média sur un périphérique connecté</li>
                            <li>contrôler un média sur un périphérique à distance (Play, Pause, Stop, Modifier le son)</li>
                        </ul>
                        <p>Notflix utilise le protocole UPNP (Universal Plug and Play) qui permet de simplifier la mise en place de réseaux et la connexion de périphériques.</p>
                    </div>
                </div>
            </div>

            <!-- Partie Navigation -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_NAVIGATION">
                <div id="header">
                    <h1 *ngIf="this.appService.getCurrentDirectory() !== null">
                        {{this.appService.getCurrentDirectory().name}}
                    </h1>
                </div>
                <div id="content" class="h85">
                    <m1m-media *ngFor="let media of this.comm.medias" [nf]="media" class="grid"></m1m-media>
                    <!--<div *ngIf="this.comm.medias.length === 0">Pas de média dans ce dossier ...</div>-->
                    <div class="notFound" *ngIf="this.comm.medias.length === 0"><b>Désolé</b> nous n'avons pas trouvé de <b>médias</b> pour ce dossier.</div>
                </div>
            </div>

            <!-- Partie Settings -->
            <!--<div class="switchContent" *ngSwitchCase="this.appService.MODE_SETTINGS">
                <div id="header">
                    Header
                </div>
                <div id="content" class="h70">
                    <h1>Settings</h1>
                </div>
            </div>-->

            <!-- Partie Lecteurs -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_LECTEURS">
                <div id="header">
                    <h1>Liste des Lecteurs</h1>
                </div>
                <div id="content" class="h85">
                    <m1m-lecteur-manager *ngFor="let lecteur of mediaRenderers" [nf]="lecteur" class="grid"></m1m-lecteur-manager>
                </div>
            </div>

            <!-- Partie Media -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_MEDIA">
                <div id="content">
                    <m1m-media-manager [nf]="this.appService.currentMedia"></m1m-media-manager>
                </div>
            </div>
        </div>
    </div>

    <!--Menu lecteurs -->
    <div class="shrink columns dropableElements" id="secondaryMenu">
        <h3>Lecteurs</h3>

        <!-- Scroll up -->
        <div class="slideArrow"
             alx-dropzone
             (alx-ondragenter)="scrollEnter($event, true)"
             (alx-ondragexit)="scrollExit($event, true)"
             alx-dragstart-css="canDrop"
             alx-draghover-css="dropHover"
             [alx-accept-fct]="isMedia"
        >
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>

        <!-- Liste des lecteurs avec scroll présent mais caché -->
        <div id="idDivListOfLecteurs" class="listLecteurs">
            <m1m-lecteur *ngFor="let lecteur of mediaRenderers" [nf]="lecteur"></m1m-lecteur>
        </div>

        <!-- Scroll down -->
        <div class="slideArrow"
             alx-dropzone
             (alx-ondragenter)="scrollEnter($event, false)"
             (alx-ondragexit)="scrollExit($event, false)"
             alx-dragstart-css="canDrop"
             alx-draghover-css="dropHover"
             [alx-accept-fct]="isMedia"
        >
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
    </div>
</div>