<div [alx-draggable]="nf" alx-dragstart-css="mediaDrag" (click)="afficheMedia()" title="{{nf.title}}">
    <img *ngIf="!nf.albumarturi" src="assets/images/noImage.png"/>
    <img *ngIf="nf.albumarturi" src="{{nf.albumarturi}}"/>
    <div class="infosMedia">
        <h5 class="titre">
            {{nf.title}}
        </h5>
        <div *ngIf="nf.creator" class="annee">{{nf.creator}}</div>
        <!--<div *ngIf="nf.date" class="annee">{{nf.date}}</div>-->
        <div *ngIf="nf.description" class="description">
            <div class="lbl">Description :</div>
            <p>
                {{ nf.description}}
            </p>
        </div>
    </div>
</div>