<div [alx-draggable]="nf" alx-dragstart-css="mediaDrag" (click)="afficheMedia()" title="{{nf.title}}">
    <!--<i class="fa fa-picture-o" aria-hidden="true"></i>-->
    <img *ngIf="!nf.albumarturi" src="assets/images/b.jpg"/>
    <img *ngIf="nf.albumarturi" src="{{nf.albumarturi}}"/>
    <div class="infosMedia">
        <h4 class="titre">
            {{nf.title}}
        </h4>
        <div class="annee">2042<!--{{nf.date}}--></div>
        <div class="description">
            <div class="lbl">Description :</div>
            <p>
                Lorem ipsum yolo swag Lorem ipsum yolo swag Lorem ipsum yolo swag Lorem ipsum yolo swag Lorem ipsum yolo swag Lorem ipsum yolo swag
                Lorem ipsum yolo swag Lorem ipsum yolo swag Lorem ipsum yolo swag Lorem ipsum yolo swag Lorem ipsum yolo swag
                <!--{nf.description}}-->
            </p>
        </div>
    </div>
</div>