<h1>{{nf.title}}</h1>
<div class="mediaContent">
    <div class="mediaLine" *ngIf="nf.longdescription"><span class="libelle">Description : </span>{{nf.longdescription}}</div>

    <div class="mediaLine" *ngIf="nf.date"><span class="libelle">Date de création : </span>{{nf.date}}</div>

    <div class="mediaLine" *ngIf="nf.creator"><span class="libelle">Auteur : </span>{{nf.creator}}</div>


    <select name="lecteur">
        <option *ngFor="let lecteur of this.comm.mediaRenderers" value="{{lecteur.id}}">{{lecteur.name}}</option>
    </select>

    <button>Lancer</button>
</div>