<div class="paddingIconMenu">
    <div class="itemServer" (click)="showDirectories()">
        <i *ngIf="serverSelected" class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
        <i *ngIf="!serverSelected" class="fa fa-server fa-2x" aria-hidden="true"></i>
        <div *ngIf="menuDisplayed" class="closeZoneServer">
            <div class="labelServer">{{nf.name}}</div>
        </div>
    </div>
    <div class="listDirectories" *ngIf="serverSelected" [hidden]="!menuDisplayed">
        <m1m-directory [nf]="folder" *ngFor="let folder of directories"></m1m-directory>
    </div>
</div>