 <div style="display: block">
    <div (dblclick)="itemClick()"  style="display: block">
        <i class="fa fa-folder-o" aria-hidden="true" *ngIf="open == false"></i>
        <i class="fa fa-folder-open-o" aria-hidden="true" *ngIf="open == true"></i>
        {{nf.name}}
    </div>
     <div style="display: block">
        <m1m-directory [nf]="directory" *ngFor="let directory of directories"></m1m-directory>
        <m1m-media [nf]="media" *ngFor="let media of medias"></m1m-media>
    </div>
 </div>