<div class="fullPageBackground"></div>
<div class="row fullPage">
    <!--MENU-->
    <div class="shrink columns" id="mainMenu">
        <div class="hamburger">
            <div (click)="menuClick()">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                <div class="labelHamburger" *ngIf="menuDisplayed">Menu</div>
            </div>
        </div>
        <div class="listServers">
            <!-- Affichage de tous les serveurs si aucun sélectionné -->
            <m1m-server [hidden]="currentServer != null"
                        *ngFor="let server of mediaServers"
                        [nf]="server"
                        [menuDisplayed]="menuDisplayed"
                        (eventSelectedServer)="selectedServer($event)"
                        [serverSelected]="false">
            </m1m-server>
            <!-- Affichage du serveur sélectionné -->
            <m1m-server *ngIf="currentServer != null"
                        [nf]="currentServer"
                        [menuDisplayed]="menuDisplayed"
                        (eventSelectedServer)="selectedServer($event)"
                        [serverSelected]="true">
            </m1m-server>
        </div>
        <div class="footerMenu">
            <div class="paddingIconMenu" (click)="this.appService.setModeApp(this.appService.MODE_SETTINGS);">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                <div *ngIf="menuDisplayed">Paramètres</div>
            </div>
            <div class="paddingIconMenu" (click)="this.appService.setModeApp(this.appService.MODE_LECTEURS);">
                <i class="fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
                <div *ngIf="menuDisplayed">En cours</div>
            </div>
        </div>
    </div>
    <!--MAIN-->
    <div class="columns" id="main">
        <!-- Partie navigateur (centrale) -->
        <div class="switch" [ngSwitch]="this.appService.modeApp">

            <!-- Partie Home -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_HOME">
                <div id="content">
                    <h1>Bienvenue sur Notflix !</h1>
                    <h2>La contrefaçon lowcost de Netflix.</h2>
                    <div class="descriptifProjet" style="width: 45%; border-right: solid 1px white; display: inline-block;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus massa est, in
                            dapibus augue efficitur ac. Donec sit amet lacus justo. Sed euismod sed diam vel scelerisque.
                            Nunc fringilla lectus non enim sollicitudin auctor a nec dolor. Duis consectetur elit vitae ullamcorper pharetra.
                            Quisque in ullamcorper nisi. Nulla interdum lectus vel dolor venenatis pellentesque. Duis eget placerat ex, non volutpat purus.
                            In sit amet urna eu justo aliquet elementum eu ac felis. In laoreet mi id ex semper, at tincidunt neque vulputate.
                            Pellentesque nec efficitur dolor, ut eleifend erat. Suspendisse sem arcu, fringilla sit amet hendrerit eu, maximus et ipsum.
                            Phasellus rhoncus hendrerit lobortis. Quisque iaculis molestie lectus et lobortis.</p>

                        <p>Sed eget mollis nunc, sed sodales sapien. Nullam et ligula non lectus ultricies euismod vitae nec urna.
                            Vivamus pretium lectus eu euismod tincidunt. Duis ac ipsum nec nisi cursus placerat eu vel mi. Vestibulum vel leo quam.
                            Vivamus ultrices odio a congue venenatis. Curabitur eu rutrum tellus. Etiam cursus velit eget justo lacinia aliquet.
                            Pellentesque suscipit turpis arcu, nec pharetra ante porttitor nec. Mauris iaculis ex ut vehicula sagittis.</p>

                        <p>Proin sem nisl, porta finibus lectus convallis, dictum vestibulum ante. Donec vitae purus eu lacus euismod vulputate.
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eget ullamcorper sem, sed pharetra neque.
                            Nam ac eros quis diam pharetra viverra. Phasellus interdum finibus nulla porta facilisis. Aliquam massa augue,
                            hendrerit id tincidunt ac, facilisis sit amet diam. Suspendisse quis tellus vel quam gravida eleifend. Nulla fermentum bibendum nulla sit
                            amet mattis. Mauris erat lectus, semper quis elit in, luctus convallis nulla. Quisque non tellus lorem. Nullam quam nisl, consequat
                            ac pellentesque vel, fermentum nec purus. Nam sed egestas erat, nec suscipit lacus. Maecenas imperdiet, nibh vel laoreet semper, mauris
                            lorem lacinia ipsum, quis auctor quam lacus rutrum justo. In rutrum purus et leo semper, a venenatis mauris pharetra.
                            Quisque semper vestibulum tortor, et posuere ex posuere a.</p>
                    </div>
                    <
                    <div class="descriptifProjet" style="width: 45%; display: inline-block;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus massa est, in
                            dapibus augue efficitur ac. Donec sit amet lacus justo. Sed euismod sed diam vel scelerisque.
                            Nunc fringilla lectus non enim sollicitudin auctor a nec dolor. Duis consectetur elit vitae ullamcorper pharetra.
                            Quisque in ullamcorper nisi. Nulla interdum lectus vel dolor venenatis pellentesque. Duis eget placerat ex, non volutpat purus.
                            In sit amet urna eu justo aliquet elementum eu ac felis. In laoreet mi id ex semper, at tincidunt neque vulputate.
                            Pellentesque nec efficitur dolor, ut eleifend erat. Suspendisse sem arcu, fringilla sit amet hendrerit eu, maximus et ipsum.
                            Phasellus rhoncus hendrerit lobortis. Quisque iaculis molestie lectus et lobortis.</p>

                        <p>Sed eget mollis nunc, sed sodales sapien. Nullam et ligula non lectus ultricies euismod vitae nec urna.
                            Vivamus pretium lectus eu euismod tincidunt. Duis ac ipsum nec nisi cursus placerat eu vel mi. Vestibulum vel leo quam.
                            Vivamus ultrices odio a congue venenatis. Curabitur eu rutrum tellus. Etiam cursus velit eget justo lacinia aliquet.
                            Pellentesque suscipit turpis arcu, nec pharetra ante porttitor nec. Mauris iaculis ex ut vehicula sagittis.</p>

                        <p>Proin sem nisl, porta finibus lectus convallis, dictum vestibulum ante. Donec vitae purus eu lacus euismod vulputate.
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eget ullamcorper sem, sed pharetra neque.
                            Nam ac eros quis diam pharetra viverra. Phasellus interdum finibus nulla porta facilisis. Aliquam massa augue,
                            hendrerit id tincidunt ac, facilisis sit amet diam. Suspendisse quis tellus vel quam gravida eleifend. Nulla fermentum bibendum nulla sit
                            amet mattis. Mauris erat lectus, semper quis elit in, luctus convallis nulla. Quisque non tellus lorem. Nullam quam nisl, consequat
                            ac pellentesque vel, fermentum nec purus. Nam sed egestas erat, nec suscipit lacus. Maecenas imperdiet, nibh vel laoreet semper, mauris
                            lorem lacinia ipsum, quis auctor quam lacus rutrum justo. In rutrum purus et leo semper, a venenatis mauris pharetra.
                            Quisque semper vestibulum tortor, et posuere ex posuere a.</p>
                    </div>

                </div>
            </div>

            <!-- Partie Navigation -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_NAVIGATION">
                <div id="header">
                    <h1 *ngIf="this.appService.getCurrentDirectory() !== null">
                        {{this.appService.getCurrentDirectory().name}}
                    </h1>
                </div>
                <div id="content" class="h85">
                    <m1m-media *ngFor="let media of this.comm.medias" [nf]="media" class="grid"></m1m-media>
                    <!--<div *ngIf="this.comm.medias.length === 0">Pas de média dans ce dossier ...</div>-->
                    <img class="notFound" src="./assets/images/notFound.jpg" *ngIf="this.comm.medias.length === 0" title="Pas de médias dans ce dossier"/>
                </div>
            </div>

            <!-- Partie Settings -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_SETTINGS">
                <div id="header">
                    Header
                </div>
                <div id="content" class="h70">
                    <h1>Settings</h1>
                </div>
            </div>

            <!-- Partie Lecteurs -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_LECTEURS">
                <div id="header">
                    <h1>Liste des Lecteurs</h1>
                </div>
                <div id="content" class="h85">
                    <m1m-lecteur-manager *ngFor="let lecteur of mediaRenderers" [nf]="lecteur" class="grid"></m1m-lecteur-manager>
                </div>
            </div>

            <!-- Partie Media -->
            <div class="switchContent" *ngSwitchCase="this.appService.MODE_MEDIA">
                <div id="content">
                    <m1m-media-manager [nf]="this.appService.currentMedia"></m1m-media-manager>
                </div>
            </div>
        </div>
    </div>

    <!--Menu lecteurs -->
    <div class="shrink columns dropableElements" id="secondaryMenu">
        <h3>Lecteurs</h3>

        <!-- Scroll up -->
        <div class="slideArrow"
             alx-dropzone
             (alx-onhover)="scrollHover($event, true)"
             alx-dragstart-css="canDrop"
             alx-draghover-css="dropHover"
             [alx-accept-fct]="isMedia"
        >
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>

        <!-- Liste des lecteurs avec scroll présent mais caché -->
        <div id="idDivListOfLecteurs" class="listLecteurs">
            <m1m-lecteur *ngFor="let lecteur of mediaRenderers" [nf]="lecteur"></m1m-lecteur>
        </div>

        <!-- Scroll down -->
        <div class="slideArrow"
             alx-dropzone
             (alx-onhover)="scrollHover($event, false)"
             alx-dragstart-css="canDrop"
             alx-draghover-css="dropHover"
             [alx-accept-fct]="isMedia"
        >
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
    </div>
</div>